body{
    overflow: hidden;
    margin: 0;
}


.menu{
    display: flex;
    position: relative;

}
.Kitisuru{
    width: 40%;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(Images/Ankole\ kitisuru.jpg);
    background-size: cover;
    color: white;
    background-position: center;
    position: relative;
    text-align: center;
    padding: 200px;
    height: 57vh;
}
.Kitisuru ::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index:1;
}
.Kitisuru h2{
    position: relative;
    z-index: 2;
    font-size: 40px;
    color: orangered;
}
.Kitisuru h1{
    position: relative;
    z-index: 2;
    font-size: 50px;
}
.Kitisuru a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
   }
.Kilimani{
    width: 40%;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(Images/Ankole\ kilimani.jpg);
    background-size: cover;
    color: white;
    background-position: center;
    position: relative;
    text-align: center;
    padding: 200px;
    height: 57vh;
}
.Kilimani ::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index:1;
}
.Kilimani h2{
    position: relative;
    z-index: 2;
    font-size: 40px;
    color: orangered;
}
.Kilimani h1{
    position: relative;
    z-index: 2;
    font-size: 50px;
}
.Kilimani a{
 display: block;
 color: white;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 font-size: 20px;
}
.kitmenu{
    display: flex;
}
.drinks{
    display: flex;
}
.food{
    display: flex;
}
.happyHour{
    display: flex;
}
.menukitsuru{
    width: 30%;
    background-image: url(Images/Ankole\ menu.jpg);
    background-size: cover;
    color: white;
    background-position: center;
    position: relative;
    text-align: center;
    padding: 200px;
    height: 60vh;
}
.menukitsuru h1{
    color: orangered;
    font-size: 40px;
}
.meals h3{
    color: orangered;
}
.meals{
    background-color: black;
    color: white;
    padding: 20px;
    overflow:scroll;
    width: 50%;
    height: 100vh;
}
.menukilimani{
    width: 30%;
    background-image: url(Images/Ankole\ menu.jpg);
    background-size: cover;
    color: white;
    background-position: center;
    position: relative;
    text-align: center;
    padding: 200px;
    height: 90vh;

}
.menukilimani h1{
    color: orangered;
    font-size: 40px;
}
.kilmenu{
    display: flex;
}
ul{
    display: flex;
    list-style: none;
    gap: 1cm;
}
.prices{
 margin: 0px 30px;
}
.dropup{
    display: inline-block;
    position: fixed;
    bottom: 0;
    background-color: #111;
    margin-left: 33%;
    margin-bottom: 30px;
    border-radius: 40px;
    color-scheme: dark;
}
.dropup-content{
    display: none;
    position: absolute;
    bottom: 50px;
    min-width: 200px;
    color: black;
    background-color: white;
    padding-left: 7%;
}
.dropup:hover .dropup-content{
    display: block;
}
i{
    padding: 15px;
    border: none;
    cursor: pointer;
    padding-left: 20px;
    /* color: white; */
}
.nav{
    display: flex;
    position: fixed;
    color-scheme: dark;
}
.navbar{
    width: 33%;
    position: fixed;
    bottom: 0;
    background-color: #111;
    overflow: hidden;
    margin-left: 32%;
    margin-bottom: 30px;
    border-radius: 40px;
    padding-left: 4%;
    
}
.navbar a{
 float: left;
 display: block;
 color: white;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 font-size: 17px;

}
.navbar a:hover{
    color: grey;
}

@media only screen and (max-width: 500px) and (min-width :0px){
    body{
        overflow: hidden;
    }
    .menu{
        display: block;
    }
    .Kitisuru{
        width: 40%;
        position: relative;
        text-align: center;
        padding: 100px;
        height: 50%;
    }
    .Kitisuru h2{
        position: relative;
        font-size: 30px;
        margin-top: -30%;
    }
    .Kitisuru h1{
        position: relative;
        z-index: 2;
        font-size: 35px;
    }
    .Kilimani{
        width: 40%;
        position: relative;
        text-align: center;
        padding: 100px;
        height: 56%;
    }
    .Kilimani h2{
        position: relative;
        z-index: 2;
        font-size: 35px;
    }
    .Kilimani h1{
        position: relative;
        z-index: 2;
        font-size: 30px;
    }
    .Kilimani a{
     font-size: 10px;
    }
    .kitmenu{
        display: block;
        width: 100%;
    }
    .drinks{
        display: flex;
    }
    .food{
        display: flex;
    }
    .happyHour{
        display: flex;
    }
    .menukitsuru{
        width: 12%;
        position: relative;
        text-align: center;
        padding: 200px;
        height: 60%;
    }
    #headimg{
        width: 90px;
        height: 90px;
    }
    .menukitsuru h1{
        font-size: 30px;
    }
    .meals{
        padding: 100px;
        overflow:scroll;
        width: 60%;
        height: 100vh;
    }
    .menukilimani{
        width: 12%;
        position: relative;
        text-align: center;
        padding: 200px;
        height: 60px;
    }
    .menukilimani h1{
        font-size: 30px;
    }
    .kilmenu{
        display: block;
    }
    .prices{
     margin: 0px 30px;
    }
    .dropup{
        display: inline-block;
        position: fixed;
        bottom: 0;
        margin-left: 27%;
        margin-bottom: 120px;
        border-radius: 40px;
        color-scheme: dark;
    }
    .navbar{
        width: 33%;
        position: fixed;
        overflow: hidden;
        margin-left: 32%;
        margin-bottom: 120px;
    }
    #bars{
        display: none;
    }
}